SimpleJoyRx_hw/SimpleJoyRx.kicad_pcb-bak
SimpleJoyRx_hw/SimpleJoyRx.wrl
SimpleJoyTx_hw/SimpleJoyTx.kicad_pcb-bak
SimpleJoyRx_fw/.settings/language.settings.xml
SimpleJoyTx_fw/.settings/language.settings.xml
SimpleJoyTx_fw/Debug/
